.wanderlust {
	margin-top: 166px;
	margin-bottom: 166px;
}
.wander_center {
	text-align: center;
}
.title_wander {
	margin-top: 170px;
	margin-bottom: 170px;
}
.style_wander {
	text-align: center;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: rgb(0, 0, 0);
}
.circle {
	padding-right: 18px;
}