<div class="row mobilemargin">
	<div class="columns large-6 medium-6 small-12 firstp">
		<div class="marks">
			<div class="radius">
				<div class="place">
				<span class="boxtitle">{{boxtitle}}</span>
				<a href="{{link}}">
				<p class="view">view all works</p>
				</a>
			</div>
		<img class="radiusr" src="{{image}}">
			</div>
		</div>
	</div>
	<div class="columns large-6 medium-6 small-12 secondp">
		<div class="fwidth">
			<p class="fashion">{{title}}</p>
			<p class="made">{{description}}</p>
			</p>
			<a href="{{link2}}">
			<button class="find">FIND OUT MORE</button>
			</a>
		</div>
	</div>
</div>