<div class="row mobilemargin" id="flex">
	<div class="columns large-6 medium-6 small-12 secondvertical" id="a">
		<div class="fwidth">
			<p class="fashion">{{title}}</p>
			<p class="made">{{description}}</p>
			<a href="{{link2}}">
			<button class="find">FIND OUT MORE</button>
			</a>
		</div>
	</div>
	<div class="columns large-6 medium-6 small-12 firstp" id="b">
		<div class="mainright">
			<div class="radius">
				<div class="placeright">
					<span class="boxright">{{boxright}}</span>
					<a href="{{link}}">
					<p class="view">view all works</p>
					</a>
				</div>
			<img src="{{image}}">
			</div>
		</div>
	</div>
</div>